@import "tailwindcss";

@layer base {
  body {
    min-height: 100vh;
    background-color: white;
    color: rgb(17 24 39);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  @media (prefers-color-scheme: dark) {
    body.dark {
      background-color: rgb(17 24 39);
      color: rgb(243 244 246);
    }
  }

  #app {
    min-height: 100vh;
  }
}
